@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main: #141414;
  --purp: #5d43bb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat.ttf");
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  background: white;
}

body {
  color: #0a0a0a;
  background: white;
}

@keyframes movingDot {
  from {
    -webkit-transform: rotate(120deg) translate(-102px) rotate(120deg);
    transform: rotate(120deg) translate(-102px) rotate(120deg);
    will-change: transform;
  }

  to {
    -webkit-transform: rotate(480deg) translate(-102px) rotate(-480deg);
    transform: rotate(480deg) translate(-102px) rotate(-480deg);
    will-change: transform;
  }
}

.moving-dot {
  background-color: #5d43bb;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 92px;
  left: 92px;
  -webkit-animation: movingDot 3.5s infinite linear;
  animation: movingDot 3.5s infinite linear;
}

.btn-load-more {
  cursor: pointer;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 20px;
  font-weight: 700;
  height: 204px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-transition: color 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
  transition: color 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;
  -o-transition: filter 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: filter 0.4s ease-in-out, color 0.4s ease-in-out,
    -webkit-filter 0.4s ease-in-out;
  width: 204px;
}

.the-nav-button {
  font-weight: 500;
  transition: background-color ease 0.55s, color ease 0.35s, border ease 0.55s;
  text-align: center;
}

.the-nav-button:hover {
  background-color: white;
  color: black;
}

/* .the-nav-link:after {
  background-color: #5d43bb;
  border-radius: 50%;
  content: "";
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 12px;
  margin-left: 23px;
  margin-top: 5px;
  width: 12px
} */

.the-nav-link {
  position: relative;
}

.the-nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px; /* Position underline 6px below the text */
  width: 0;
  height: 1px;
  background-color: black;
  transition: width 0.5s ease;
  transform: translateX(-50%); /* Center the underline */
  transform-origin: center; /* Set origin to center for expanding effect */
}

.the-second-link {
  position: relative;
}

.the-second-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Position underline 6px below the text */
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.5s ease;
}

.the-second-link:hover::after {
  width: 100%;
}

/* On hover, animate underline to full width */
.the-nav-link:hover::after {
  width: 100%;
}

.header-container {
  /* padding: 5% 14%; */
}

.header-title {
  /* font-size: 2.92vw; */
  /* padding-top: 204px; */
  /* padding-bottom: 163px; */
  /* padding: 12.5% 14% 5.9%; */
  text-align: center;
  position: relative;
}

.title-link {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  color: #5d43bb;
}

.title-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px; /* Position underline 6px below the text */
  width: 0;
  height: 2px;
  background-color: #5d43bb;
  transition: width 0.5s ease;
  transform: translateX(-50%); /* Center the underline */
  transform-origin: center; /* Set origin to center for expanding effect */
}

.nav-link-width-full {
  position: relative;
}

.nav-link-width-full::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px; /* Position underline 6px below the text */
  width: 100%;
  height: 1px;
  background-color: black;
  /* transition: width 0.5s ease; */
  transform: translateX(-50%); /* Center the underline */
  transform-origin: center; /* Set origin to center for expanding effect */
}

/* On hover, animate underline to full width */
.title-link:hover::after {
  width: 100%;
}

.btn-video-play {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 9.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.7s, -webkit-transform 0.35s,
    -webkit-backdrop-filter 0.35s;
  transition: opacity 0.7s, -webkit-transform 0.35s,
    -webkit-backdrop-filter 0.35s;
  -o-transition: opacity 0.7s, transform 0.35s, backdrop-filter 0.35s;
  transition: opacity 0.7s, transform 0.35s, backdrop-filter 0.35s;
  transition: opacity 0.7s, transform 0.35s, backdrop-filter 0.35s,
    -webkit-transform 0.35s, -webkit-backdrop-filter 0.35s;
  position: absolute;
  width: 9.5rem;
  z-index: 10000;
}
.icon-triangle {
  border-style: solid;
  border-width: 12px 0 12px 20px;
  border-color: transparent transparent transparent #141414;
  margin-left: 7px;
  height: 50px;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  width: 50px;
}

.the-approach-link {
  position: relative;
}

.the-approach-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0; /* Position underline 6px below the text */
  width: 0;
  height: 1px;
  background-color: black;
  transition: all 0.5s ease;
  transform: translateX(-50%); /* Center the underline */
  transform-origin: center; /* Set origin to center for expanding effect */
}

/* On hover, animate underline to full width */
.the-approach-link:hover::after {
  width: 100%;
}

.the-approach-link:hover {
  color: black;
  transition: all 0.5s ease;
}

.the-current-approach {
  color: black;
}

/* .img-zoomer {
  transform: translate(0%, -10.998%) translate3d(0px, 0px, 0px); 
  opacity: 1;
} */

/* .img-zoomer:hover {
  transform: scale(1.25) !important;
} */

/* .card-image {
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out,-webkit-transform .5s ease-out;
  position: relative;
}

.card-image:hover {
  -webkit-transform: scale(.95);
  -ms-transform: scale(.95);
  transform: scale(.95)
}

.card-image:hover img {
  -webkit-transform: scale(1.25)!important;
  -ms-transform: scale(1.25)!important;
  transform: scale(1.25)!important
}

.card-image img {
  object-fit: contain;
  position: absolute;
} */

.card-image img {
  transition: transform 0.5s ease;
}

.card-image:hover img {
  transform: scale(1.1);
}

.the-q-button {
  background-color: #141414;
  border: 1px solid #141414;
  border-radius: 32px;
  color: white;
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 1.4rem;
  transition: background-color ease 0.55s, color ease 0.35s, border ease 0.55s;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.the-q-button:hover {
  background-color: white;
  color: black;
}

.the-q2-button {
  background-color: white;
  border: 1px solid #141414;
  color: black;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 1.4rem;
  transition: background-color ease 0.55s, color ease 0.35s, border ease 0.55s;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sticky-nav {
  z-index: 1000;
}

.fancy-hamburger-menu {
  position: relative;
  z-index: 10;
}

.hamburger-icon {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 100000;
}

.line {
  width: 100%;
  height: 5px;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.line-open {
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* transform: translate(-10%, -10%); */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1000;
  text-align: center;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  margin: 20px 0;
}

.menu-items a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.menu-items a:hover {
  color: #f39c12;
}
